
footer.footer
  .container
    .footer__box
      .footer__item
        .footer__item-title Будем на связи
        .networks
          .networks__item
            a.networks__link(href="#")
              img(src="media/networks/vk.svg", alt="Вконтакте")
          .networks__item
            a.networks__link(href="#")
              img(src="media/networks/send.svg", alt="Почта")
          .networks__item
            a.networks__link(href="+71111111111")
              img(src="media/networks/phone.svg", alt="Телефон")
          .networks__item
            a.networks__link(href="#")
              img(src="media/networks/inst.svg", alt="Инстаграм")
      .footer__item
        .footer__item-title Давайте дружить
        .footer__form
          form.form
            .form__label
              input.form__field(type="mail" name="send")
            .form__label
              button.footer__btn Ок
      .footer__item
        .footer__item-title Нужна помощь?
        .help
          .help__item
            a.help__link(href="+71111111111") +7 123 456 78 90
          .help__item
            a.help__link(href="mailto:asd@.ru") asd@.ru
      .footer__copyright © 2023 МАГАЗИН ЖЕНСКОЙ ОДЕЖДЫ «ВАЛЕНТИНА».
