
header.header
  .header__head
    .container.header__box
      a.header__logo(href="/") Буду шить
      nav.nav
        .nav__item 
          a(href="#").nav__link Главная
        .nav__item 
          a(href="#").nav__link Магазин
        .nav__item 
          a(href="#").nav__link Распродажа
        .nav__item 
          a(href="#").nav__link Котнакты
  .face
    .face__box
      a.face__btn(href="#") В магазин
  .delivery Бесплатная доставка по России
