
doctype html
html(lang="ru")
  include block/head
  body
    include block/header
    section.section.discounts
      .container
        h2.section__title.section__title_line Круглый год
        .discounts__intro Обязательные вещи в вашем гардеробе
        .discounts__catalog
          .discounts__item
            .discounts__media
              img(src="media/discounts/img1.jpg")
            .discounts__name
              span Юбка миди
              span Подробнее...
          .discounts__item
            .discounts__media
              img(src="media/discounts/img1.jpg")
            .discounts__name
              span Юбка миди
              span Подробнее...
          .discounts__item
            .discounts__media
              img(src="media/discounts/img1.jpg")
            .discounts__name
              span Юбка миди
              span Подробнее...
    include block/footer
    include block/script
